<h1>Stock Lists</h1>

<div class="row">
   <ul class="nav nav-pills mb-3 ticker-page-nav" id="pills-tab" role="tablist">
         <li class="nav-item" role="presentation">
   <form action="/most-active" method="post">
    <input id="most-active" type="submit" name="mostactive" value="most active" />
</form>
  </li>
  <li class="nav-item" role="presentation">
   <form action="/gainers" method="post">
    <input id="gainers" type="submit" name="gainers" value="gainers" />
</form>
  </li>
  <li class="nav-item" role="presentation">
    <form action="/losers" method="post">
    <input id="losers" type="submit" name="losers" value="losers" />
</form>
  </li>
  </ul>  
</div>

<div class="row">
<div class="col-12">

    <div class="table-responsive minimal-sort-table">
<table class="col-12 table table-sm table-dark stock-table" id="sortable-table">
<thead>
    <tr>
        <th>Symbol</th>
        <th class="mobile-hide">Name</th>
        <th>Price</th>
        <th>Change</th>
        <th>%change</th>
        <th>Volume</th>
        <th>P/E</th>
        <th>Market Cap</th>
    </tr>
</thead>

<tbody>
    {{#each stock}}
     <tr>
        <td>

                <form action="/" method="POST" class="inline">
                <input type="hidden" >
                <button type="submit" value="{{this.symbol}}" name="stock_search" class="link-button">
                   {{this.symbol}}
                </button>
                </form>

        </td>
        <td class="mobile-hide">{{this.companyName}}</td>
        <td>${{this.latestPrice}}</td>
        <td>{{#negPosChange this.change}}
             {{test}}
        {{/negPosChange}}</td>
        <td>{{#roundPercent this.changePercent}}
             {{test}}
        {{/roundPercent}}</td>
        <td>
            {{#commas this.volume}}
             {{test}}
        {{/commas}}
        </td>
        <td>
            {{#if this.peRatio}}
         {{#peRatio this.peRatio}}
                {{test}}
        {{/peRatio}}
            {{else}}
            <span class="na-value">N/A</span>
            {{/if}}
            
            </td>
        <td>  ${{#commas this.marketCap}}
             {{test}}
        {{/commas}}</td>
    </tr>
    {{/each}}
</tbody>
    </table>

</div>
</div>
</div>

<script>

    //set active link
    var segment_str = window.location.pathname; // return segment1/segment2/segment3/segment4
    var segment_array = segment_str.split( '/');
    var last_segment = segment_array.pop();
    var page = last_segment.replace( '-',' ');


switch(page) {
  case "most active":
    var element = document.getElementById("most-active");
    element.classList.add("active");
    break;
  case "gainers":
    var element = document.getElementById("gainers");
    element.classList.add("active");
    break;
    case "losers":
    var element = document.getElementById("losers");
    element.classList.add("active");
    break;
  default:
     var element = document.getElementById("most-active");
     element.classList.add("active");
    }
    </script>

<!--
{{#each stockGainers}}
{{@key}} | {{this.symbol}}<br>
{{/each}}-->

