<div class="ticker-page-header">
    <div class="top-logo">
        <div class="circle-logo"><img class="company-logo" src="https://storage.googleapis.com/iex/api/logos/{{stock.symbol}}.png"></div>
        <span class="ticker-badge">{{stock.symbol}}</span>
    </div>
    <h1><b>{{stock.companyName}}</b></h1>
    <div class="price">
        <div>${{stock.latestPrice}}</div>
       {{#negPosChange stock.change}}
             {{test}}
        {{/negPosChange}}
        </div>
    <div class="subtext">{{stock.primaryExchange}}</div>
</div>



<div class="row">
    <div class="mb-3 col-12 col-md-4 tickerPage-topTable">

         <div><strong>Latest Price: </strong><span>${{stock.latestPrice}}</span></div>
         <div><strong>Previous Close: </strong><span>${{stock.previousClose}}</span></div>
         <div><strong>Percent Change: </strong><span>{{stock.changePercent}}%</span></div>
         <div><strong>Market Cap: </strong><span>{{stock.marketCap}}</span></div>
         <div><strong>YTD Change: </strong><span>{{stock.ytdChange}}%</span></div>
         <div><strong>52 Week High: </strong><span>{{stock.week52High}}</span></div>
         <div>strong>52 Week Low:</strong><span>{{stock.week52Low}}</span></div>
    </div>
        <div class="mb-3 col-12 col-md-4 tickerPage-topTable">
         <div><strong>Latest Price: </strong><span>${{stock.latestPrice}}</span></div>
         <div><strong>Previous Close: </strong><span>${{stock.previousClose}}</span></div>
         <div><strong>Percent Change: </strong><span>{{stock.changePercent}}%</span></div>
         <div><strong>Market Cap: </strong><span>{{stock.marketCap}}</span></div>
         <div><strong>YTD Change: </strong><span>{{stock.ytdChange}}%</span></div>
         <div><strong>52 Week High: </strong><span>{{stock.week52High}}</span></div>
         <div>strong>52 Week Low:</strong><span>{{stock.week52Low}}</span></div>
    </div>
        <div class="mb-3 col-12  col-md-4 tickerPage-topTable">
         <div><strong>Latest Price: </strong><span>${{stock.latestPrice}}</span></div>
         <div><strong>Previous Close: </strong><span>${{stock.previousClose}}</span></div>
         <div><strong>Percent Change: </strong><span>{{stock.changePercent}}%</span></div>
         <div><strong>Market Cap: </strong><span>{{stock.marketCap}}</span></div>
         <div><strong>YTD Change: </strong><span>{{stock.ytdChange}}%</span></div>
         <div><strong>52 Week High: </strong><span>{{stock.week52High}}</span></div>
         <div>strong>52 Week Low:</strong><span>{{stock.week52Low}}</span></div>
    </div>
</div>



<!--
{{#each stock}}
{{@key}} | {{this}}<br>
{{/each}}
-->